@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/roboto-mono/300.css';
@import '@fontsource/roboto-mono/400.css';
@import '@fontsource/roboto-mono/500.css';
@import '@fontsource/roboto-mono/700.css';


html {
    height: 100%;
}

body {
    min-width: 320px;
    min-height: 100%;
    display: flex;
}

#root {
    display: flex;
    flex-grow: 1;
    min-width: 0;

    & > * {
        min-width: 0;
    }
}
