name: deploy

on:
    release:
        types:
          - published

    # allow to run manually
    workflow_dispatch:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
          - name: checkout
            uses: actions/checkout@v3

          - uses: actions/setup-node@v3
            with:
                node-version: '18.x'
                cache: npm

          - run: npm ci

          - name: update jooby-codec to latest version
            run: npm install jooby-codec@latest

          - name: run all tests
            run: npm test

          - uses: actions/upload-artifact@v3
            if: always()
            with:
                name: playwright-report
                path: playwright-report/
                retention-days: 30

          - run: npx vite build
          - run: touch ./dist/.nojekyll

          - name: upload artifact
            uses: actions/upload-pages-artifact@v3
            with:
                path: "./dist"

    deploy:
        needs: build

        permissions:
            pages: write
            id-token: write

        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        runs-on: ubuntu-latest

        steps:
          - name: deploy to GitHub Pages
            id: deployment
            uses: actions/deploy-pages@v4
